body{
    margin: 0;
    font-family: 'Poppins','sana-serif';
}

section{
    height: 600px;
}
.nav-section{
    
} 
nav ul{
    float: right;
    
}
nav ul li{
   margin-right: 40px; 
   display: inline-block;
   font-size: 20px;
   font-weight: 4em; 
}
nav ul li a{
    text-decoration: none;
    color: black;
    
}
nav ul li a:hover{
    background-color: orange;
}

.section-half{
    width: 45%;
    float: left;
    margin-left: 4.7%;
    /*padding-left: 2%;*/
} 
.section-half img{
    height: 100%;
    width: 100%;
    
}
h1{
    font-size: 50px;
}
.orange-highlighter{
    color: orange;
}
.top-section{
    background-image: url('images/header-bg.png');
    background-repeat: no-repeat;
}
.link-button{
    color: white;
    background-image: linear-gradient(45deg, royalblue,cyan);
    padding: 12px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}
.second-section{
    background-image: url('images/latest-work-bg.png');
    background-repeat: no-repeat;
}
.project-section{
    background-image: url('images/header-bg.png');
    background-repeat: no-repeat;
    padding-top: 30px;
}
.project-section h1{
    text-align: center;
}
.section-field{
    float: left;
    background-color: lavender;
    width: 30%;
    border-radius: 12px;
    margin-left: 32px;
}
.up{
    height:65% ;
    margin-left: 7px;
}
.up img{
    padding-top: 5px;
    width: 98%;
    border-radius: 10px;
}
.down{
    height: 40%;
    width: 95%;
    margin-left: 10px;
}
.down p{
    text-align: justify;
}
footer{
    margin-top: 100px;
    background-color:lavender ;
    height: 180px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 200px; 
}
.contact-sec{
    
    text-align: center;
    width: 68%;
    margin-top: 30px;
}
.contact-sec p{
    opacity: .6;
}
.contact-sec ul{
    float: left;
    margin-left: 246px;
}
.contact-sec ul li{
    display: inline-block;
    margin-left: 30px;
}
.contact-sec ul li img{
    height: 30px;
    width: 30px;
}